:root {
}

/* Desktop Body */
.container {
  height: 10rem;
  width: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 3px;
  row-gap: 3px;
  margin: 0 auto;

  background-color: black;
}
.container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.buttons {
  height: fit-content;
  width: 5rem;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Tablet */
@media only screen and (max-width: 70em) {
  /* Tablet Body */
}

/* Mobile */
@media only screen and (max-width: 38em) {
  /* Mobile Body */
}

/* Super small phones */
@media only screen and (max-width: 22em) {
  /* Small Body */
}

@media (prefers-color-scheme: dark) {
  /* Desktop Body */
}